.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.centered {
    text-align:center;
}

.container-card {
    width: 100px;
    height: 200px;
    border: solid 2px orangered;
    display: inline-block;
}

.nascondi {
    display: none;
}

.health-bar {
    width: 100px;
    border: 2px solid #000;
    margin: 0 auto 20px auto;
}

.health-bar div {
    height: 20px;
    background-color: green;
}
